<h2 id="title">ET Concierge (concept app)</h2>
{{#link-to 'users'}}Users{{/link-to}}
&nbsp;
{{#link-to 'queries'}}Queries{{/link-to}}
<br>
{{#if session.isAuthenticated}}
  Logged user: {{session.content.secure.email}} ({{session.content.secure.auth_token}}) <a {{ action 'invalidateSession' }}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}
<br/>
{{outlet}}